<%- include("partials/header"); -%>
<img class="box slidecontentimg aboutContentstella" src="https://github.com/AaronKidd/images/blob/Master/Stella-Chereshneva.jpg?raw=true"/>
<div class="aboutContent slidecontent">
    <h1 class="aboutHeading">About me</h1>
    <div class="aboutText">
        <p>
            I studied Law with Business at The University of Law, graduating with a First Class degree. I am currently
            working as a litigation paralegal, with the opportunity to learn more about how the legal world works in
            practice after studying it for my undergraduate degree. </p>
        <p>
            Throughout my time at university, I have had the chance to learn about fascinating business strategies and
            learn more about how law evolves with society. As an aspiring future solicitor, I have learned that being
            commercially aware enables me to gather and form a clearer picture of the society we live in, forming
            well-rounded and more informed opinions on domestic and global events.</p>
        <p>
            I started this blog with the motivation to share my thoughts on the legal and commercial world. I am to
            research and discuss events such as those that may impact the markets, the growth of technology, and leading
            companies and corporations. </p>
        <p>
            I look to share my knowledge, in hopes that this blog is as enjoyable for you to read, as it is for me to
            research and write about, and that it inspires you to form new thoughts, opinions and ideas.
            Perhaps you may wish to contact me to ask questions or discuss circumstances and events or provide subjects
            you want to write about. I’d be happy to hear from you, and I look forward to seeing how this blog will
            progress and grow. </p>
    </div>
</div>



<%- include("partials/footer"); -%>