<%- include("partials/header"); -%>
<script>

</script>
<div class=" contactpage center fade-in">
    <img class="contactimg" src="https://github.com/AaronKidd/images/blob/Master/Stella-Chereshneva.jpg?raw=true">
    <div class="contactcontent">
            <p class="zoom"><a href="https://www.instagram.com/mylegalthoughts/" target="_blank">
                    <i class="fab icon fa-2x fa-instagram"></i> Follow Legal Thoughts on Instagram</a></p>
            <p class="zoom"><a href="https://www.linkedin.com/in/stella-chereshneva" target="_blank">
                    <i class="fab icon fa-2x fa-linkedin"></i> Connect with me on Linkedin</a></p>

            <p class="zoom"><a href="mailto:stellachereshneva@gmail.com">
                    <i class="fas icon fa-2x fa-envelope"></i> Send me an email</a></p>
    </div>
</div>
<%- include("partials/footer"); -%>