<%- include("partials/header"); -%>
<div class="dashcontent">

  <div class="dashbtns">
    <a href="/admin"><button type="button" class="btn btn-primary">Post Admin</button></a>
    <a href="/compose"><button type="button" class="btn btn-success">Create a post</button></a>
  </div>





</div>

<%- include("partials/footer"); -%>