<%- include("partials/header"); -%>
<script>
    $(document).ready(function () {
        $("#icon").click(function () {
            $('html, body').animate({
                scrollTop: $("#textbody").offset().top
            }, 10);
        });
    });

</script>

<img class="homeimage fade-in"
    src="https://images.pexels.com/photos/1796715/pexels-photo-1796715.jpeg?cs=srgb&dl=pexels-chait-goli-1796715.jpg&fm=jpg">
<div class="content">
    <br>
    <h1 class="fade-in homeTitle">Legal Thoughts</h1>
    <div class="fade-in contenticon wrapper">
        <i id="icon" class="bounce_button fas fa-4x fa-chevron-circle-down"></i>
    </div>
    <br>
    <div class="Logo" id="textbody">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac tincidunt elit. Integer in tortor elit.
            Suspendisse sodales non nibh sed viverra. Ut at diam sem. Vivamus scelerisque odio ex, eu ultrices sapien
            hendrerit at. Quisque in tellus id risus malesuada malesuada. Donec feugiat vel risus in commodo. Aliquam
            magna
            mauris, tempus ut venenatis molestie, fermentum a erat. Nunc id justo vulputate, luctus diam sit amet,
            porttitor
            metus. Fusce id massa ac ipsum tincidunt sollicitudin at eget eros.</p>

        <p> Quisque arcu massa, ultrices vitae nulla non, semper sagittis enim. Nam sed tortor sit amet libero porttitor
            luctus eu vitae enim. Sed scelerisque, sapien sed ornare mollis, felis ipsum interdum elit, vitae vehicula
            nulla
            est at nisi. Ut bibendum efficitur risus a placerat. Pellentesque in condimentum ligula. Quisque vel
            consectetur
            leo. Etiam quis porttitor sem. In justo mauris, luctus sed diam nec, volutpat faucibus felis. Vivamus
            molestie
            orci magna, vel consequat justo eleifend eget. Nunc consequat laoreet quam ac sagittis. Cras sollicitudin
            mauris
            sed commodo varius. In vitae lectus ut mi fringilla consectetur quis ac quam. Pellentesque sollicitudin
            lectus
            quis magna convallis consectetur. Pellentesque in vestibulum massa.

        </p>
    </div>
</div>

<%- include("partials/footer"); -%>